{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid"
}
